@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

@keyframes content0-size {
    to {
        width: 0;
    }
}

#content0 {
    height: 500vh;
    width: 100vw;

    view-timeline-name: --section-content0;
    overflow-x: clip;
}

@supports not (animation-timeline: view()) {

    /* Fallback para mobile (que não tem suporte ainda) */
    .content0-side-bar-size {
        animation: content0-size linear forwards;
        animation-timeline: --section-content0;
        animation-range: contain 0% contain 70%;
    }
}