#content2 {
    height: 500vh;
    view-timeline-name: --section-content2;
}

@keyframes content1-subtitle-up {
    to {
        transform: translateY(calc(0px));
        opacity: 1;
    }
}

.content2-subtitle {    
    transform: translateY(calc(50px));

    animation: content1-subtitle-up linear forwards;
    animation-timeline: --section-content1;
    animation-range: contain 0% contain 40%;
}


.content2-button {    
    transform: translateY(calc(50px));

    animation: content1-subtitle-up linear forwards;
    animation-timeline: --section-content1;
    animation-range: contain 20% contain 60%;
}