@keyframes content0-size {
    from {
        width: 50%;
    }
    to {
        width: 0;
    }
}

@-webkit-keyframes content0-size {
    from {
        width: 50%;
    }
    to {
        width: 0;
    }
}

#content0 {
    height: 500vh;
    width: 100vw;

    view-timeline-name: --section-content0;
    overflow-x: clip;
}

.content0-side-bar-size {
    -webkit-animation: content0-size linear forwards;
    -webkit-timeline: --section-content0;
    -webkit-range: contain 0% contain 70%;
    
    animation: content0-size linear forwards;
    animation-timeline: --section-content0;
    animation-range: contain 0% contain 70%;
}
